.background1{
    -fx-background-image: url("/images/parchment-a.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.background2{
    -fx-background-image: url("/images/parchment-1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.table-view{
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 20;
    -fx-padding: 0 0 0 0;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 20;
    -fx-text-alignment: center;
}

.table-column {
    -fx-alignment: CENTER;
}

.column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 20;
}

.button{
    -fx-background-image: url("/images/parchment-button.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 50;
    -fx-background-position: center center;
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 10;
}

.combo-box .list-cell {
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 18;
    -fx-padding: 1 1 1 1;
    -fx-alignment: CENTER;
}

.label-font{
    -fx-font-family: 'Great Vibes';
    -fx-font-size: 30;
}